.body{
    background-color: rgb(204,204,204);
}

.screen-perfil{
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.screen2{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-perfil{
    display: flex;
    margin-top: 10px;
    text-align: center;

    height: 300px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

.enfeite1{
    display: flex;
    background-image: none;
    align-items: flex-start;
}

.enfeite1 img{
    height: 150px;
    width: 120px;
}

.enfeite2{
    display: flex;
    background-image: none;
    align-items: flex-end;
}

.enfeite2 img{
    height: 150px;
    width: 120px;
}

.img-freelancer{
    height: 310px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.img-freelancer img{
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    height: 130px;
    width: 130px;
}

.screen3{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.certificacoes{
    display: flex;
    background-color: white;
    border-radius: 30px;
    height: 300px;
    width: 500px;
    margin: 20px;
    justify-content: center;
    margin-bottom: 0;
    flex-direction: column;
}

.certificacoes-titulo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 15%;
}


.certificacoes-titulo h1{
    width: 63%;
}

.certificacoes-titulo h1{
    display: flex;
    text-align: center;
}

.certificacoes-titulo img{
    margin-top: 13px;
    width: 50px;
    height: 50px;
}

.certificado-info{
    display: flex;
    align-items: center;
}

.certificado-info img{
    height: 80px;
    width: 80px;
    padding: 10px;
}

.certificado-info-mais{
    display: flex;
    flex-direction: column;
}

.certificado-info-mais h3, p{
    margin: 0;
}



/*Fim certificacoes */
/* Match inicio*/
.matchs{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    height: 300px;
    width: 500px;
    margin: 20px;
    margin-bottom: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }