.logo{
    width: 6em;
    height: 6em;
}


.container-login-user{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 1em;

}

.saudacao-usuario{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 1em;
}

.saudacao-usuario .p-inputtext.p-component{
    width: 100%;
    border-radius: 10px;
    margin-top: 0.5em;
}

.password-options{
    text-decoration: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

.also-login{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: dimgray;
    font-weight: 400;
}

.login-options{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
}

.pi:before{
    font-size: 2em;
    font-size: 1.5em;
    color: beige;
    margin-bottom: 3em;
}

.pi-facebook:before{
    background-color: blue;
    padding: 0.5em;
    border-radius: 50%;
}

.pi-twitter:before{
    background-color: #1da1f2;
    padding: 0.5em;
    border-radius: 50%;
}

.pi-google:before{
    background-color: #ea4335;
    padding: 0.5em;
    border-radius: 50%;
}

.a-href-password{
    text-emphasis: none;
    text-decoration: none;
    color: black;
}

.text-greetings{
    font-weight: 300;
}

.button-login{
    margin-top: 1em;
}

.container-img-login{
    display: flex;
    justify-content: flex-start;
    width: 30em;
}

.container-login-user img{
    width: 40em;
    height: 40em;
}

