.card-match{
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
    height: 90vh;
    -webkit-box-shadow: -1px 5px 26px 1px rgba(0,0,0,0.76); 
    box-shadow: -1px 5px 26px 1px rgba(0,0,0,0.76);w: 1;
}